<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Regras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h4>Na sua forma mais comum, o General possui as seguintes regras básicas:</h4>
  <p>- O princípio do jogo é ter 5 dados dentro do copo, cada jogador tem 3 tentativas para jogar, porém, o mesmo não é obrigado à jogar as 3 vezes, tendo em vista que o jogador consegue o resultado esperado em sua primeira ou segunda tentativa.</p>
  <p>- A tabela de pontuação divide-se em 10 linhas, sendo elas os números do 1 ao 6 em seguida pela Sequência, Fula, Pôker e General.</p>
  <h3>Combinações:</h3>
  <p><b>Sequência</b> = 20 pontos* (Qualquer tipo de sequência numérica.)<br><b>Ex.:</b> 1-2-3-4-5</p>
  <p><b>Fula</b> = 30 pontos* (Combinação entre 2 e 3 dados iguais.)<br><b>Ex.:</b> 3-3-4-4-4</p>
  <p><b>Pôker</b> = 40 pontos* (Combinação de 4 dados iguais.)<br><b>Ex.:</b> 5-5-5-5-1</p>
  <p><b>General</b> = 50 pontos** (Combinação de 5 dados iguais.)<br><b>Ex.:</b> 2-2-2-2-2</p>
  <p>* Caso esta jogada seja efetuada em sua primeira tentativa, acrescenta-se 5 pontos. Porém o jogador pode optar por continuar jogando, deixando assim de lado seus 5 pontos extra.</p>
  <p>** Caso esta jogada seja efetuada em sua primeira tentativa, ganha-se o jogo.</p>

  <p>
    - As numerações do 1 ao 6, são relativas à sua jogada.<br>
    Caso o jogador tenha conquistado uma combinação de 1-1-2-6-4, o mesmo deve escolher qual resultado melhor lhe convém, levando em consideração que a jogada escolhida não pode constar em sua tabela.<br>
    <b>Ex.:</b> O jogador já tem 1 ponto marcado no número 1, este deve optar por marcar 2 pontos no número 2, ou 6 no número 6, ou 4 no número 4.
  </p>

  <p>
    - Haverão casos em que o jogador deverá queimar/sacrificar uma de suas jogadas.<br>
    <b>Ex.:</b> O jogador já tem preenchido em sua tabela as jogadas <b>1</b>, <b>3</b>, <b>4</b>, <b>5</b>, <b>6</b>, <b>F</b> e <b>P</b>. O mesmo ao jogar 3 vezes, se vê com uma combinação de dados de 1-3-3-4-6, este deve optar qual jogada irá queimar, sendo as opções elegíveis o <b>2</b>, <b>S</b> e <b>G</b>.<br>
    Ao queimar uma jogada, esta não poderá mais ser pontuada para este jogador.
  </p>
</ion-content>
