<ion-header>
  <ion-toolbar>
    <ion-title>Participantes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngFor="let player of players; let i = index">
    <ion-label position="floating">Jogador {{i+1}}</ion-label>
    <ion-input [(ngModel)]="player.name"></ion-input>
    <ion-buttons slot="end" *ngIf="i > 0">
      <ion-button (click)="dropPlayer(i)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <div class="mt-15 d-flex h-center">
    <ion-button shape="round" color="success" (click)="newPlayer()">
      <ion-icon slot="start" name="add"></ion-icon>
      Novo jogador
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" color="primary" size="large" (click)="begin()">
      Começar
    </ion-button>
  </ion-toolbar>
</ion-footer>